.col:first-child {
    justify-content: flex-end;
}

.col:last-child {
    justify-content: flex-start;
}

a.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.answers-smartphone {
    display: none;
}
