@media (max-width: 760px) {
    .row { flex-direction: column; }
}

.col:first-child {
    justify-content: flex-end;
}

.col:last-child {
    justify-content: flex-start;
}

a.disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}
