body.malinconic::before {
    background-image: url("/images/speaker/malinconic.png");
}

.video-trailer {
    width: var(--video-trailer-width);
    height: var(--video-trailer-height);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.game1-screen img {
    width: 100%;
    height: auto;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}

.game-dev-impo-image {
    width: var(--game-dev-impo-image-size);
    height: var(--game-dev-impo-image-size);
    padding-left: 20px;
    padding-right: 20px;
}
