body.malinconic::before {
    background-image: url("/images/speaker/malinconic.png");
}

@media (max-width: 760px) {
    .video-trailer { width: 320px !important; height: 180px !important; }
}

.video-trailer {
    width: 560px;
    height: 315px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.page-content img {
    min-width: 262px;
    width: 100%;
    height: auto;
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
