body.bg-high-disappointment::before {
    background-image: url("/images/speaker/high_disappointment.png") !important;
}

.bg-malinconic::before {
    background-image: url("/images/speaker/malinconic.png") !important;
}
