@media (max-width: 760px) {
    .secret-button{ font-size: var(--font-size-text-small) !important; }
    .secret-input{ font-size: var(--font-size-text-small) !important; }
}

body.apatic::before {
    background-image: url("/images/speaker/apatic.png");
}

.secret-button {
    background-color: rgba(var(--background-color-rgb));
    border: 2px solid rgb(150, 150, 150);
    border-radius: 3px;
    text-align: center;
    font-family: inherit;
    color: black;
    font-size: var(--font-size-text);
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 2px 8px;
}

.secret-button:hover {
    border-color: black;
}

.secret-input {
    border: 2px solid rgb(150, 150, 150);
    border-radius: 3px;
    padding: 2px 8px;
    font-family: inherit;
    font-size: var(--font-size-text);
    outline: none;
}

.secret-input:focus {
    border-color: black;
}
