body.apatic::before {
    background-image: url("/images/speaker/apatic.png");
}

.secret-button {
    background-color: rgba(var(--background-color-rgb));
    border: var(--secret-input-border-size) solid rgb(150, 150, 150);
    border-radius: var(--secret-input-border-radius);
    padding: var(--secret-input-padding-top-bottom) var(--secret-input-padding-left-right);
    text-align: center;
    font-family: inherit;
    color: black;
    font-size: var(--font-size-text);
    transition-duration: 0.4s;
    cursor: pointer;
}

.secret-button:hover {
    border-color: black;
}

.secret-input {
    border: var(--secret-input-border-size) solid rgb(150, 150, 150);
    border-radius: var(--secret-input-border-radius);
    padding: var(--secret-input-padding-top-bottom) var(--secret-input-padding-left-right);
    font-family: inherit;
    font-size: var(--font-size-text);
    outline: none;
}

.secret-input:focus {
    border-color: black;
}
