<div class="page-footer">
    <hr class="divider">
    <div class="row">
        <a href="https://www.linkedin.com/in/lucachioni/" class="footer-link" target="_blank" rel="noopener noreferrer">
            <img class="footer-icons" src="/images/icons/linkedin.png" alt="" />
        </a>
        <a href="https://github.com/LucaChioni" class="footer-link" target="_blank" rel="noopener noreferrer">
            <img class="footer-icons" src="/images/icons/github.png" alt="" />
        </a>
        <a href="https://store.steampowered.com/app/2125300/Off_to_Sleep/" class="footer-link" target="_blank" rel="noopener noreferrer">
            <img class="footer-icons" src="/images/icons/steam.png" alt="" />
        </a>
    </div>
    <span>Email: luca.chioni46@gmail.com</span>
</div>
